In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r'forest_fires.csv')

In [3]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [4]:
df.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [5]:
def make_eda(cont_col, cat_col, dataFrame):
    for j in cont_col:
        for i in cat_col:
            sns.scatterplot(data=dataFrame, x='X', y='Y', size = j, hue=i)
            plt.show()
        for i in cat_col:
            sns.barplot(data=dataFrame, x = j, y = i, ci=None)
            sns.displot(data=dataFrame, x = j)
            plt.show()

In [6]:
cont_col = ['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH','wind', 'rain', 'area']
cat_col = ['month', 'day']

make_eda(cont_col, cat_col, df)

In [7]:
import xgboost as xgb

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [9]:
ord_enc = OrdinalEncoder()

In [10]:
ord_enc.fit(df.loc[:,cat_col])

OrdinalEncoder()

In [11]:
data_df = pd.DataFrame(ord_enc.transform(df.loc[:,cat_col]), columns=cat_col)

In [12]:
fdf = df.drop(columns=['X','Y'])

In [13]:
fdf = pd.concat([fdf.drop(columns=cat_col), data_df],axis = 1)

In [14]:
X = fdf.loc[:,['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'month', 'day']]
y = fdf.loc[:,'area']

In [15]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
from hyperopt import hp, tpe, Trials, STATUS_OK
from hyperopt import fmin
from sklearn.metrics import mean_squared_error
# Regression: 
def hyperparameter_tuning(space):
    model=xgb.XGBRegressor(n_estimators =space['n_estimators'], max_depth = int(space['max_depth']), gamma = space['gamma'],
                         reg_alpha = int(space['reg_alpha']),min_child_weight=space['min_child_weight'],
                         colsample_bytree=space['colsample_bytree'])
    
    evaluation = [( X_train, y_train), ( X_test, y_test)]
    
    model.fit(X_train, y_train,
            eval_set=evaluation, eval_metric="rmse",
            early_stopping_rounds=10,verbose=False)

    pred = model.predict(X_test)
    mse= mean_squared_error(y_test, pred)
    print ("SCORE:", math.sqrt(mse))
    #change the metric if you like
    return {'loss':math.sqrt(mse), 'status': STATUS_OK, 'model': model}
trials = Trials()
space={'max_depth': hp.quniform("max_depth", 3, 18, 1),
        'gamma': hp.uniform ('gamma', 1,9),
        'reg_alpha' : hp.quniform('reg_alpha', 40,180,1),
        'reg_lambda' : hp.uniform('reg_lambda', 0,1),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0.5,1),
        'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
        'n_estimators': 180
    }
best = fmin(fn=hyperparameter_tuning,
            space=space,
            algo=tpe.suggest,
            max_evals=100,
            trials=trials)

print (best)

SCORE:
89.50162179974552
SCORE:
89.0332928577147
SCORE:
89.93859554523186
SCORE:
89.23617175584356
SCORE:
89.44522377194305
SCORE:
88.73715973174905
SCORE:
90.21754475736226
SCORE:
88.45704753580169
SCORE:
88.60763814158581
SCORE:
89.37346639752178
SCORE:
89.55965509297405
SCORE:
88.58552710131539
SCORE:
88.6771253188076
SCORE:
89.76416127108429
SCORE:
88.71724359824893
SCORE:
88.51977311414205
SCORE:
89.17282902593881
SCORE:
88.97823094639388
SCORE:
88.90702170044177
SCORE:
88.43731803178743
SCORE:
88.76226689219766
SCORE:
88.73479880412313
SCORE:
88.82181346024838
SCORE:
88.53786243232858
SCORE:
88.75365807389632
SCORE:
89.06097388514273
SCORE:
89.13140488516359
SCORE:
88.47991860441583
SCORE:
88.73933238060064
SCORE:
88.91569023829604
SCORE:
88.39432267156103
SCORE:
88.89827977694905
SCORE:
89.47590984490938
SCORE:
89.10005338594192
SCORE:
88.48987824540276
SCORE:
89.89717348902603
SCORE:
87.67372403598313
SCORE:
88.8975465626037
SCORE:
88.09324813558294
SCORE:
88.38236461058678
SCORE:
88.9625145513999
SCORE:
88.15095225034456
SCORE:
88.90768212211675
SCORE:
88.59307666365818
SCORE:
87.68287388685395
SCORE:
89.15046683280596
SCORE:
87.87170452334621
SCORE:
88.09113725475972
SCORE:
88.98804673587553
SCORE:
89.4409903916431
SCORE:

89.49594843571953
SCORE:
88.41343412058288
SCORE:
88.99978688546521
SCORE:
87.81395167575485
SCORE:
88.65712940012011
SCORE:
89.76405403192497
SCORE:
88.85597370040415
SCORE:
88.32900174919519
SCORE:
88.7232670047079
SCORE:
88.81815438029703
SCORE:
88.57473663346131
SCORE:
88.58902575966214
SCORE:
87.93576126107517
SCORE:
88.8957591515063
SCORE:
89.12920677427732
SCORE:
88.2764642637875
SCORE:
88.86755697279074
SCORE:
88.6923477652671
SCORE:
88.19783592833521
SCORE:
88.87029198807024
SCORE:
87.88084916191504
SCORE:
88.27048834879706
SCORE:
88.69222862230495
SCORE:
88.21445213555835
SCORE:
87.73356605661058
SCORE:
88.45667265793615
SCORE:
87.73629594374317
SCORE:
88.32407037207491
SCORE:
88.48214020265536
SCORE:
89.68055567314494
SCORE:
89.07983288301853
SCORE:
88.56180425237069
SCORE:
89.15654228167766
SCORE:
88.83316557804173
SCORE:
88.67041249586947
SCORE:
88.14208625974734
SCORE:
89.6137896135068
SCORE:
88.54621953360162
SCORE:
88.64955254033086
SCORE:
88.11268568568646
SCORE:
88.47638743825011
SCORE:
88.21661126038929
SCORE:
88.75508332839186
SCORE:
88.58545571609152
SCORE:
88.2820336180619
SCORE:
89.88096979581456
SCORE:
88.96843587736694
SCORE:
88.55411031308637
SCORE:
88.27721608968471
SCORE:
89.57613339098195

100%|██████████| 100/100 [00:09<00:00, 11.02trial/s, best loss: 87.67372403598313]
{'colsample_bytree': 0.8786096391085985, 'gamma': 7.805855093153122, 'max_depth': 14.0, 'min_child_weight': 10.0, 'reg_alpha': 97.0, 'reg_lambda': 0.5220528382145948}